<ul class="nav list-unstyled">
  <li>
    <a href="/projects">Projects</a>
  </li>
  <br />
  <li>
    <a href="/about">About</a>
  </li>
  <br />
  <li>
    <a href="mailto:liyundetaiwan@gmail.com">Contact</a>
  </li>
</ul>
