[submodule "client/scripts/webpack-async-router"]
	path = client/scripts/webpack-async-router
	url = git@github.com:KKTV/webpack-async-router.git
[submodule "client/styles/bootstrap"]
	path = client/styles/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "client/styles/fontawesome"]
	path = client/styles/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
