body {
  font-size: .85rem;
  line-height: 1.4;
  letter-spacing: .5px;
  font-weight: bold;
}

.fade {
  opacity: 0;
}

.hide {
  display: none;
}

.nav {
  position: fixed;
  width: 87.5px;
  top: 30px;
  left: 30px;
}

.scrollable {
  height: 100%;
  overflow-y: scroll;
}

.masque-barre {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 30px;
  background-color: #fff;
}

.nav--projects {
  position: fixed;
  left: 147.5px;
  width: 235px;
  top: 30px;
  bottom: 0;
  
  .nav--projects__content {
    width: 205px;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.project-detail {
  position: fixed;
  left: 382.5px;
  width: 587.5px;
  top: 30px;
  bottom: 0;

  .project-detail__content {
    @media (min-width: 1205px) {
      width: 557.5px;
    }

    .desc {
      position: fixed;
      width: 45%;
      pointer-events: none;

      // for more than 1205
      @media (min-width: 1205px) {
        left: 970px;
        width: 205px;
        top: 70px;
      }
    }
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }

  .close-icon {
    width: 24px;
    height: 24px;
    // background: url('/assets/images/cross.png') no-repeat;
    position: absolute;
    top: 0px;
    width: 24px;
    height: 24px;
    // opacity: 0.3;

    // for more than 1205
    @media (min-width: 1205px) {
      right: -24px;
    }

    @media (max-width: 1204px) {
      right: 34px;
    }
  }

  // .close-icon {
  //   position: absolute;
  //   top: 0px;
  //   width: 24px;
  //   height: 24px;
  //   // opacity: 0.3;
  //
  //   // for more than 1205
  //   @media (min-width: 1205px) {
  //     right: -20px;
  //   }
  //
  //   @media (max-width: 1204px) {
  //     right: 34px;
  //   }
  // }
  //
  // .close-icon:hover {
  //   // opacity: 1;
  // }
  //
  // .close-icon:before, .close-icon:after {
  //   position: absolute;
  //   left: 15px;
  //   content: ' ';
  //   height: 25px;
  //   width: 1px;
  //   background-color: #1a1a1a;
  // }
  //
  // .close-icon:before {
  //   transform: rotate(45deg);
  // }
  //
  // .close-icon:after {
  //   transform: rotate(-45deg);
  // }
  
}

.about {
  position: fixed;
  left: 130px;
  width: 557.5px;
  top: 30px;
  bottom: 0;
}
