.fade {
  opacity: 0;
}

.hide {
  display: none;
}

.nav {
  position: fixed;
  width: 100px;
  top: 30px;
  left: 30px;
}

.scrollable {
  height: 100%;
  overflow-y: scroll;
}

.masque-barre {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 30px;
  background-color: #fff;
}

.nav--projects {
  position: fixed;
  left: 130px;
  width: 220px;
  top: 30px;
  bottom: 0;
  
  .nav--projects__content {
    width: 200px;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.project-detail {
  position: fixed;
  left: 360px;
  width: 230px;
  top: 30px;
  bottom: 0;

  .project-detail__content {
    .desc {
      position: fixed;
      width: 45%;
      pointer-events: none;
    }
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }

  .close-icon {
    position: fixed;
    top: 20px;
    right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 2.5vw;
  }
  
}

.about {
  position: fixed;
  left: 130px;
  width: 45%;
  top: 30px;
  bottom: 0;
}
