<div class="container-margin" style="text-align: center; position: relative; min-height: 700px;">
  <div style="position: absolute; width: 100%; height: 100%; background-color: #ec0b8d; z-index: -1;"></div>
  <!-- <img src="https://i.ytimg.com/vi/TSXXi2kvl_0/maxresdefault.jpg" alt="404" /> -->
  <img src="/assets/images/404-error.jpg" alt="404" />

</div>
