<div class="about">

Yun Li is a Paris-based Taiwanese industrial designer. He graduated from the École Nationale Supérieure de Création Industrielle (Ensci-Les Ateliers) with honor in 2014. For his final project, supervised by Jasper Morrison, he attempted to refine, both visually and technically, one of the world's most visible and mass-produced chairs.

<br />

In 2012, he followed an internship at BIG-GAME in Lausane, Switzerland. In 2013, he exhibited at SaloneSatellite. Since 2014, he works for Studio Pauline Deltour.

</div>
