<div class="nav--projects">
  <div class="scrollable">

    <div class="nav--projects__content">

      <a href="javascript:void(0)" data-id="oiseaux">
        <img src="/assets/images/Oiseaux/1.jpg" alt="Oiseaux" />
      </a>
      <a href="javascript:void(0)" data-id="terraceChair">
        <img src="/assets/images/TerraceChair/1.jpg" alt="Terrace Chair" />
      </a>
      <a href="javascript:void(0)" data-id="shelf">
        <img src="/assets/images/Shelf/1.jpg" alt="Shelf" />
      </a>
      
    </div>

    <div class="masque-barre"></div>
    
  </div>
</div>

<div class="project-detail">
  <div class="scrollable">

    <div class="project-detail__content">

      <div class="oiseaux hide">

        <div class="desc">
          Oiseaux <br />
          2013 <br />

          Through an economic but precise process, that is, the laser cutting, the aim of the project is to express the formal quality of the birds with a minimum of elements.
        </div>

        <div class="images">
          <img src="/assets/images/Oiseaux/1.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/2.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/3.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/4.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/5.jpg" alt="Oiseaux" />
        </div>
        
      </div>

      <div class="terraceChair hide">

        <div class="desc">
          Aluminium terrace chair<br/>
          2014<br />

          Diploma Project<br /><br />
          Supervised by Jasper Morrison<br /><br />

          This project questions how a designer can contribute to the evolution of an object : it takes one of the world’s most visible and mass-produced chairs and improves it both visually and technically. The chair consists of 3 U-shaped tubes which are interconnected to form the structure with one more crossing bar to brace the front legs. The U-shaped backrest tube provides a simpler structuring solution to this kind of aluminum armchair which also gives a simpler back view to the chair. Besides, when many chairs are gathered at a cafe, its makes a significant difference to the atmosphere.
        </div>

        <div class="images">
          <img src="/assets/images/TerraceChair/1.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/2.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/3.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/4.jpg" alt="Terrace Chair" class="portrait"/>
          <img src="/assets/images/TerraceChair/5.jpg" alt="Terrace Chair" class="portrait"/>
          <img src="/assets/images/TerraceChair/6.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/7.jpg" alt="Terrace Chair" />
        </div>
        
      </div>

      <div class="shelf hide">

        <div class="desc">
          Shelf mirror<br/>
          2015<br />

          This magnetic shelf-mirror provides a simple solution for the entryway. Personal necessities, such as keys, wallet, reminder notes, etc, can find their place.<br /><br />
          Produced by NakNak<br />
        </div>

        <div class="images">
          <img src="/assets/images/Shelf/1.jpg" alt="Shelf" />
          <img src="/assets/images/Shelf/2.jpg" alt="Shelf" />
        </div>
        
      </div>
      
    </div>

    <a role="button" class="close-icon hide" id="project-close-icon"></a>

    <div class="masque-barre"></div>
    
  </div>
</div>
