<div class="nav--projects">
  <div class="scrollable">

    <div class="nav--projects__content">

      <a href="javascript:void(0)" data-id="oiseaux">
        <img src="/assets/images/Oiseaux/1.jpg" alt="Oiseaux" />
      </a>
      <a href="javascript:void(0)" data-id="terraceChair">
        <img src="/assets/images/TerraceChair/1.jpg" alt="Terrace Chair" />
      </a>
      
    </div>

    <div class="masque-barre"></div>
    
  </div>
</div>

<div class="project-detail">
  <div class="scrollable">

    <div class="project-detail__content">

      <div class="oiseaux">

        <div class="desc">
          Oiseaux
        </div>

        <div class="images">
          <img src="/assets/images/Oiseaux/2.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/3.jpg" alt="Oiseaux" />
        </div>
        
      </div>

      <div class="terraceChair hide">

        <div class="desc">
          Terrace Chair
        </div>

        <div class="images">
          <img src="/assets/images/TerraceChair/2.jpg" alt="Oiseaux" />
          <img src="/assets/images/TerraceChair/3.jpg" alt="Oiseaux" />
        </div>
        
      </div>
      
    </div>

    <div class="close-icon">X</div>

    <div class="masque-barre"></div>
    
  </div>
</div>
