<div class="nav--projects">
  <div class="scrollable">

    <div class="nav--projects__content">

      <a href="javascript:void(0)" data-id="demi">
        <img src="/assets/images/Demi/1.jpg" alt="Demi" />
      </a>

      <a href="javascript:void(0)" data-id="tink">
        <img src="/assets/images/Tink/1.jpg" alt="Tink Coat Rack" />
      </a>

      <a href="javascript:void(0)" data-id="myriam">
        <img src="/assets/images/Myriam/1.jpg" alt="Myriam Stool" />
      </a>

      <a href="javascript:void(0)" data-id="marsanne">
        <img src="/assets/images/marsanne/1.jpg" alt="Marsanne Chair" />
      </a>

      <a href="javascript:void(0)" data-id="oiseaux">
        <img src="/assets/images/Oiseaux/1.jpg" alt="Oiseaux" />
      </a>

      <a href="javascript:void(0)" data-id="terraceChair">
        <img src="/assets/images/TerraceChair/1.jpg" alt="Terrace Chair" />
      </a>

      <a href="javascript:void(0)" data-id="shelf">
        <img src="/assets/images/Shelf/1.jpg" alt="Shelf" />
      </a>
      
    </div>

    <div class="masque-barre"></div>
    
  </div>
</div>

<div class="project-detail">
  <div class="scrollable">

    <div class="project-detail__content">

      <div class="demi hide">

        <div class="desc">
          Demi Teapot<br/>
          2016<br /><br />

          A porcelain tea service designed for everyday use. The teapot occupies little space and it is easy to store. Ideal for 1 to 2 persons.<br />
        </div>

        <div class="images">
          <img src="/assets/images/Demi/1.jpg" alt="Demi" />
          <img src="/assets/images/Demi/2.jpg" alt="Demi" />
          <img src="/assets/images/Demi/3.jpg" alt="Demi" />
        </div>
        
      </div>

      <div class="tink hide">

        <div class="desc">
          Tink Coat Rack<br/>
          2016<br /><br />

          Tink refreshes the classic coat rack by removing the screw holes of the metal hooks. Die-cast aluminium hooks mounted on solid-wood panel.<br />
        </div>

        <div class="images">
          <img src="/assets/images/Tink/1.jpg" alt="Tink" />
          <img src="/assets/images/Tink/2.jpg" alt="Tink" />
          <img src="/assets/images/Tink/3.jpg" alt="Tink" />
        </div>
        
      </div>

      <div class="myriam hide">

        <div class="desc">
          Myriam Stool<br/>
          2016<br /><br />

          A small stool with solid-wood top and aluminium pipe legs. It can be used as side table. Flat-pack design.<br />
        </div>

        <div class="images">
          <img src="/assets/images/Myriam/1.jpg" alt="Myriam" />
          <img src="/assets/images/Myriam/2.jpg" alt="Myriam" />
          <img src="/assets/images/Myriam/3.jpg" alt="Myriam" />
        </div>
        
      </div>

      <div class="marsanne hide">

        <div class="desc">
          Myriam Stool<br/>
          2016<br />
          Tectona<br />
          40th Anniversary<br />
          Design Contest<br /><br />


          To celebrate Tectona's 40th anniversary, 11 designers were commissioned to design a chair and a table for outdoor use. <br />
Marsanne is inspired by Van Gogh’s chair. It seems to find easily its own place and creates a good atmosphere, and represents now a time when the border between indoor and outdoor is quite fluid. So the aim of the project is to bring this character to the contemporary outdoor furniture. With new materials, and right proportion, an old typology can be fresh again in a new context.
<br />
        </div>

        <div class="images">
          <img src="/assets/images/Marsanne/1.jpg" alt="Marsanne" />
          <img src="/assets/images/Marsanne/2.jpg" alt="Marsanne" />
          <img src="/assets/images/Marsanne/3.jpg" alt="Marsanne" />
        </div>
        
      </div>

      <div class="oiseaux hide">

        <div class="desc">
          Oiseaux <br />
          2013 <br /><br />

          Through an economic but precise process, that is, the laser cutting, the aim of the project is to express the formal quality of the birds with a minimum of elements.
        </div>

        <div class="images">
          <img src="/assets/images/Oiseaux/1.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/2.jpg" alt="Oiseaux" />
          <img src="/assets/images/Oiseaux/N.jpg" alt="Oiseaux" />
        </div>
        
      </div>

      <div class="terraceChair hide">

        <div class="desc">
          Aluminium terrace chair<br/>
          2014<br />
          Diploma Project<br />
          Supervised by Jasper Morrison<br /><br />

          This project questions how a designer can contribute to the evolution of an object : it takes one of the world’s most visible and mass-produced chairs and improves it both visually and technically. The chair consists of 3 U-shaped tubes which are interconnected to form the structure with one more crossing bar to brace the front legs. The U-shaped backrest tube provides a simpler structuring solution to this kind of aluminum armchair which also gives a simpler back view to the chair. Besides, when many chairs are gathered at a cafe, it makes a significant difference to the atmosphere.
        </div>

        <div class="images">
          <img src="/assets/images/TerraceChair/1.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/2.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/3.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/4.jpg" alt="Terrace Chair" class="portrait"/>
          <img src="/assets/images/TerraceChair/5.jpg" alt="Terrace Chair" class="portrait"/>
          <img src="/assets/images/TerraceChair/6.jpg" alt="Terrace Chair" />
          <img src="/assets/images/TerraceChair/7.jpg" alt="Terrace Chair" />
        </div>
        
      </div>

      <div class="shelf hide">

        <div class="desc">
          Shelf mirror<br/>
          2015<br /><br />

          This magnetic shelf-mirror provides a simple solution for the entryway. Personal necessities, such as keys, wallet, reminder notes, etc, can find their place.<br />
          Produced by NakNak<br />
        </div>

        <div class="images">
          <img src="/assets/images/Shelf/1.jpg" alt="Shelf" />
          <img src="/assets/images/Shelf/2.jpg" alt="Shelf" />
        </div>
        
      </div>
      
    </div>

    <a role="button" class="close-icon hide" id="project-close-icon"><img src="/assets/images/cross-1.png" alt="" /></a>

    <div class="masque-barre"></div>
    
  </div>
</div>
