<!DOCTYPE HTML>
<html>
  <head>

    {{> title pageTitle}}
    {{> kktvHeader}}
    
  </head>
  <body>

    {{! pass json stringified data to client for react }}
    {{> scriptTagForData data=KKTV_DATA}}

    {{> nav}}

    <!-- <div class="main&#45;container"> -->
      {{{body}}}
    <!-- </div> -->

    {{!> footer}}

    {{> entryScript}}

  </body>
</html>
